article.text-center.panel.panel-default
    h2 {{post.title}}
    p {{post.text}}


div.panel.panel-danger.text-center
    div.panel-heading Are you sure you want to delete this post?
    div.panel-body
        ul.list-inline
            li
                button.btn.btn-danger(ng-click='deletePost()') Yes
            li
                button.btn.btn-default(ng-click='home()') No thanks
