div.row.posts_count
    u 
        | There are 
        strong {{posts.length}} 
        | posts
    
div.row(ng-repeat='post in posts')
    h3 {{post.title}}
    div {{post.text}}
    
    ul.list-inline
        li
            a(ui-sref="post({id: post.id})") More
        li
            a(ui-sref="edit({id: post.id})") Edit
        li
            a(ui-sref="delete({id: post.id})") Delete
