extends layout

block body
    div
        h2 My Blog
        ul
            li
                a(ui-sref="home") Home
            li
                a(ui-sref="add") Add a new post

    div(ui-view)
    
    //- mine
    script(type='text/javascript', src='lib/angular/angular.js')
    script(type='text/javascript', src='lib/angular-ui-router/angular-ui-router.min.js')
    
    script(src='js/controllers.js')
    script(type='text/javascript', src='js/app.js')
    
    //- others
    //- script(src='js/services.js')
    //- script(src='js/filters.js')
    //- script(src='js/directives.js')
