doctype
html(lang='en', ng-app='app')
    head
        meta(charset='utf8')
        base(href='/')
        title Node, Express e Angular
        link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    body
        block body
