/* ==========================================================================
   -- Header
   ========================================================================== */

    header.root
        h2
            padding 20px 0

    nav.root
        ul
            li
                padding 0 10px

                a
                    font-size 12px

                    span
                        margin-right 6px

            li:nth-of-type(1)
                padding-left 0

            li:nth-last-of-type(1)
                padding-right 0

    .posts_count
        u
            color gray
